# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/SocketSample/v16/.suo
/.vs/SocketSample/v16/Browse.VC.db
/.vs/SocketSample/v16/Browse.VC.db-shm
/.vs/SocketSample/v16/Browse.VC.db-wal
/.vs/SocketSample/v16/Browse.VC.opendb
/.vs/SocketSample/v16/ipch/AutoPCH/122d69f2a808241c/MAIN.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/2036e67ef855657e/MAIN.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/3448c1e22e316cc0/LOGGER.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/3826cf26b441de1c/LOGGER.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/3cc723e88d51960f/REQUESTHANDLER.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/5fba61ad3fa28cf9/REQUESTHANDLER.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/6122d6d7fad757c2/FILEHELPER.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/621ab1417a56b242/MAIN.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/8c53fd1950b2de33/SERVER.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/94805e1684cd06e0/MAIN.ipch
/.vs/SocketSample/v16/ipch/AutoPCH/b5fb6f993af5ed5b/CLIENT.ipch
/.vs/SocketSample/v16/Solution.VC.db
/.vs/SocketSample/v16/Solution.VC.db-shm
/.vs/SocketSample/v16/Solution.VC.db-wal
/Client/Debug/Client.Build.CppClean.log
/Client/Debug/Client.exe.recipe
/Client/Debug/Client.log
/Client/Debug/Client.vcxproj.FileListAbsolute.txt
/Debug/Server.pdb
/Release/Server.pdb
/Server/Debug/Server.Build.CppClean.log
/Server/Debug/Server.exe.recipe
/Server/Debug/Server.ilk
/Server/Debug/Server.log
/Server/Debug/Server.tlog/CL.command.1.tlog
/Server/Debug/Server.tlog/CL.read.1.tlog
/Server/Debug/Server.tlog/CL.write.1.tlog
/Server/Debug/Server.tlog/link.command.1.tlog
/Server/Debug/Server.tlog/link.read.1.tlog
/Server/Debug/Server.tlog/link.write.1.tlog
/Server/Debug/Server.tlog/Server.lastbuildstate
/Server/Debug/Server.vcxproj.FileListAbsolute.txt
/Server/Debug/vc142.idb
/Server/Debug/vc142.pdb
/Server/Release/Server.Build.CppClean.log
/Server/Release/Server.exe.recipe
/Server/Release/Server.iobj
/Server/Release/Server.ipdb
/Server/Release/Server.log
/Server/Release/Server.tlog/CL.command.1.tlog
/Server/Release/Server.tlog/CL.read.1.tlog
/Server/Release/Server.tlog/CL.write.1.tlog
/Server/Release/Server.tlog/link.command.1.tlog
/Server/Release/Server.tlog/link.read.1.tlog
/Server/Release/Server.tlog/link.write.1.tlog
/Server/Release/Server.tlog/Server.lastbuildstate
/Server/Release/Server.vcxproj.FileListAbsolute.txt
/Server/Release/vc142.pdb
